__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/


*.sqlite3
db.sqlite3
user.db
*.log
*.pot
*.pyc
*.mo
local_settings.py
media/
staticfiles/
static/


.vscode/
.idea/
*.swp
*.swo
*.iml


.DS_Store
Thumbs.db


*.log


htmlcov/
.coverage
.coverage.*



*.pyc
*.pyo
*.pyd


nosetests.xml
coverage.xml
*.cover
.hypothesis/


*.sqlite3-journal


.env/
.venv/